[package]
authors = ["Ceri Storey <cez@necrofish.org.uk>"]
license = "MIT"
name = "pg-queue"
version = "0.1.0"

[dependencies]
failure = "0.1.3"
fallible-iterator = "0.1.5"
flate2 = "0.2.14"
log = "0.3.6"
postgres = "0.15.2"
r2d2 = "0.8.3"
r2d2_postgres = "0.14.0"
time = "0.1"
url = "1.2.0"

[dev-dependencies]
env_logger = "0.3.5"
