[package]
authors = ["Ceri Storey <cez@necrofish.org.uk>"]
license = "MIT"
name = "pg-queue"
version = "0.1.0"
edition = "2018"

[dependencies]
log = "0.4.8"
tokio-postgres = { version = "0.5.2" }
chrono = "0.4.7"
thiserror = "1.0.9"
tokio = {version="0.2.11", features=["sync"]}
postgres-types = { version="0.1.0", features=["with-chrono-0_4"]}
futures = "0.3.4"
futures-util = "0.3.4"

[dev-dependencies]
env_logger = "0.7.1"
tokio = {version="0.2.11", features=["macros", "rt-core", "dns"]}
anyhow = "1.0.26"
